{% extends 'template.html' %}
{% load staticfiles %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <main id="homepage">
        <p>Click on your username on top right-hand corner to access your translation projects.</p>
        <table id="shortcuts" cellspacing="0">
            <tr>
                <th class="title" colspan="2">
                    <h4>Shortcuts</h4>
                </th>
            </tr>
            <tr>
                <th>
                    <p>ctrl+return</p>
                </th>
                <td>
                    <p>Submits and confirms the currently focused segment and focuses the next unconfirmed segment.</p>
                </td>
            </tr>
            <tr>
                <th>
                    <p>ctrl+insert</p>
                </th>
                <td>
                    <p>Copies the source segment into the target segment.</p>
                </td>
            </tr>
        </table>
        <p id="version-number">toraman webapp v{{ version_number }}</p>
    </main>
{% endblock %}