{% extends 'template.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block body %}
  <main>
    {% if email_sent %}
    <p>Password reset e-mail sent.</p>
    {% else %}
    <h2>Forgot your password?</h2>
    <br>
    <p>Enter your email address below, and we'll email you the instructions for setting a new one.</p>
    <br>
    <form method="POST">
      {% if errors %}
        {% for error in errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endif %}
      {% csrf_token %}
      {{ form.email }}
      <br><br>
      <input type="submit" value="Submit"/>
      </table>
    </form>
  </main>
  {% endif %}
{% endblock %}