{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set New Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'www/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>
    <form method="POST">
      {% csrf_token %}
      <table>
      {% if errors %}
        <tr>
          <td colspan="2">
          {% for error in errors %}
            <p>{{error}}</p>
          {% endfor %}
          </td>
        </tr>
      {% endif %}
      {{form.as_table}}
        <tr>
          <th></th>
          <td>
            <button>Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </main>
</body>
</html>