{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'www/main.css' %}">
    {% block js %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <nav>
            <h4>
                <a href="{% url 'homepage' %}">Homepage</a>
            </h4>
        </nav>
        <div id="sign-in-out">
            {% if request.user.is_authenticated %}
            <h4><a href="{% url 'user-page' request.user.username %}">{{ request.user.username }}</a> | <a href="{% url 'logout' %}">Log Out</a></h4>
            {% else %}
            <h4><a href="{% url 'login' %}">Log In</a> | <a href="{% url 'register' %}">Register</a></h4>
            {% endif %}
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>