{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ source_file }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cat/bilingual_file.css' %}">
    <script type="text/javascript" src="{% static 'jquery-3.4.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cat/bilingual_file.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <a href="{{ project_url }}"><button id="back">Back</button></a>
        <a href="{{ download_url }}"><button id="generate-target-translation">Download Translation</button></a>
    </header>
    <main>
        <div id="tm-hits">
            <a id="tm-url" href="{{ tm.get_absolute_url }}"><p>TM: {{ tm.title }}</p></a>
            <table id="tm-hits">
                <tr class="segment na odd">
                        <td class="details">
                            <p class="levenshtein-ratio"><br></p>
                        </td>
                        <td class="source">N/A</td>
                        <td class="target"><br></td>
                </tr>
            </table>
        </div>
        <div id="editor">
            {% csrf_token %}
            <table>
            {% for segment in segments %}
                <tr class="segment {% cycle 'odd' 'even' %} {{ segment.status }}" id="{{ segment.segment_no }}">
                    <td class="details merge-selector">
                        <p class="paragraph-no">{{ segment.paragraph_no }}</p>
                        <p class="segment-no">{{ segment.segment_no }}</p>
                    </td>
                    <td class="source">{{ segment.source|safe }}</td>
                    <td class="target" contenteditable="true">{{ segment.target|safe }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>