{% extends 'template.html' %}
{% load staticfiles %}

{% block title %}
    {{ user_project.title }}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'jquery-3.4.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cat/project_navigation.js' %}"></script>
{% endblock %}

{% block body %}
    <nav id="project-view">
        <button id="overview" class="selected"><h4>Overview</h4></button>
        <button id="report"><h4>Report</h4></button>
        {% if user_is_pm %}
        <button id="pm-settings"><h4>PM Settings</h4></button>
        {% endif %}
    </nav>
    <main id="project-view">
        <div id="project-overview">
            <h4>{{ user_project.title }}</h4>
            <h4>{{ user_project.get_source_language }} to {{ user_project.get_target_language }}</h4>
            <h4>File(s):</h4>
            <ul id="source-files">
            {% for source_file in source_files %}
                <li>
                    <a href="{% url 'bilingual-file'  user_project.created_by.id user_project.id source_file.id %}">
                    {{ source_file.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id="project-report">
            <table>
                <tr>
                    <th>File Name</th>
                    <th>Repetition</th>
                    <th>100%</th>
                    <th>99%-50%</th>
                    <th>No Match</th>
                    <th>Total</th>
                </tr>
                {% for line in user_project.get_analysis_report_as_list %}
                <tr>
                    {% for item in line %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if user_is_pm %}
        <div id="project-pm-settings">
            <table id="assigned">
                <tr>
                    <th>File Name</th>
                    <th>File Index</th>
                    <th>Translator</th>
                </tr>
                {% for user_file in source_files %}
                <tr>
                    <td>{{ user_file.title }}</td>
                    <td>{{ user_file.id }}</td>
                    <td>{{ user_file.translator }}</td>
                </tr>
                {% endfor %}
            </table>
            <form method="POST">
            {% csrf_token %}
                <table id="assignment-form">
                {% if error %}
                    <tr><td colspan="2">{{ error }}</td></tr>
                {% endif %}
                    <tr>
                        <th>{{ form.file_ids.label }}</th>
                        <td>{{ form.file_ids }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.translator.label }}</th>
                        <td>{{ form.translator }}</td>
                    </tr>
                    <tr>
                        <th><input type="submit" value="Assign"/></th>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        {% endif %}
    </main>
{% endblock %}