{% extends 'template.html' %}
{% load staticfiles %}

{% block title %}
    {{user_project.title}}
{% endblock %}

{% block body %}
    <main>
        <div><h2>{{user_project.title}}</h2></div>
        <br>
        <div><h4>{{user_project.source_language}} > {{user_project.target_language}}</h4></div>
        <br>
        <div>
            <h4>File(s):</h4>
            <ul id="source-files">
            {% for source_file in source_files %}
            <li><p>> 
                <a href="{% url 'bilingual-file'  user_project.user.id user_project.id source_file %}">
                {{source_file}}
                </a>
            </p></li>
            {% endfor %}
            </ul>
        </div>
        {% if user_is_pm %}
        <div>
            <h4>PM Settings:</h4>
            {% if user_project.translator %}
            <p>This project is currently assigned to {{ user_project.translator.username }}.</p>
            {% else %}
            <p>This project hasn't been assigned to a translator yet. Use the form below to do so.</p>
            <form method="POST">
                {% csrf_token %}
                <div>
                    {% if error %}
                    <p>{{ error }}</p>
                    {% endif %}
                    <p>{{ form.translator.label }}: {{ form.translator }}</p>
                    <br>
                    <button type="submit">Assign</button>
                </div>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </main>
{% endblock %}