<table id="tm-hits">
{% if tm_hits %}
    {% for tm_hit in tm_hits %}
    <tr class="segment {% cycle 'odd' 'even' %}">
        <td class="details">
            <p class="levenshtein-ratio">{{tm_hit.levenshtein_ratio}}</p>
        </td>
        <td class="source">{{tm_hit.source|safe}}</td>
        <td class="target">{{tm_hit.target|safe}}</td>
    </tr>
    {% endfor %}
{% else %}
    <tr class="segment na odd">
        <td class="details">
            <p class="levenshtein-ratio"><br></p>
        </td>
        <td class="source">N/A</td>
        <td class="target"><br></td>
    </tr>
{% endif %}
</table>