a, body, button, div, form, h1, h2, h3, h4, header, input, label, li, nav, p, td, th, tr, ul {
    background-color: #FFFFFF;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

body {
    min-width: 600px;
}

button {
    background-color: #126868;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    font-weight: 800;
    outline: none;
    padding: 7px;
    transition: 0.4s;
}

button:disabled {
    background-color: rgb(187, 192, 191);
}

button:hover {
    background-color: #FFF;
    border: 1px solid #126868;
    color: #126868;;
}

button:active {
    background-color: #126868;
    border: 1px solid #126868;
    color: #FFF;;
}

div.new-project {
    text-align: center;
}

div.new-project:hover {
    border: 1px solid #126868;
    transition: 0.4s;
}

div.new-project:hover h2 {
    color: #126868;
    transition: 0.4s;
}

div.user-project, div.user-tm {
    border: 1px solid #FFF;
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    margin-bottom: 10.5px;
    padding: 7px;
    vertical-align: top;
}

div#user-projects {
    display: inline-block;
    vertical-align: top;
    width: 59%;
}

div#user-tms {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h4, h4 a {
    font-size: 18px;
}

header {
    background-color: #126868;
    padding: 7px;
}

header h4 a, header h4, header p {
    color: #FFFFFF;
    font-weight: 600;
}

header div#sign-in-out {
    background-color: #126868;
    float: right;
}

header div h4, header div a {
    background-color: #126868;
}

input {
    border: 0.5px solid #121212;
    border-radius: 5px;
    padding: 3.5px;
}

input:focus {
    border: 0.5px solid #126868;
}

main {
    padding: 1%;
    vertical-align: top;
}

main#new-project {
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    margin: 1.5% auto;
    min-width: 350px;
    padding: 1%;
    align-content: center;
    width: 30%;
}

nav {
    background-color: #126868;
    display: inline-block;
}

nav h4, nav h4 a {
    background-color: #126868;
}

p#version-number {
    text-align: right;
}

table {
    margin: 0 auto;
}

table#shortcuts {
    display: block;
    margin: 14px;
}

table#shortcuts td, table#shortcuts th {
    border: 1px solid #999;
    padding: 14px;
}

table#shortcuts th {
    text-align: center;
}

table#shortcuts th#title {
    text-align: left;
}

table h2 {
    margin-bottom: 3.5px;
}

table td, table th {
    padding: 1.75px 0;
}

table td#upload input {
    border: 0;
}

table th.form-label {
    text-align: right;
}
