* {
    all: unset;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
head {
    display: none;
}
body {
    min-width: 400px;
}
a {
    cursor: pointer;
}
button, input {
    transition: 0.4s;
}
h1 {
    color: inherit;
    display: block;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 7.5px;
}
h2 {
    color: inherit;
    display: block;
    font-size: 25px;
    font-weight: 600;
    padding: 12.50px 6.25px;
}
h4 {
    color: inherit;
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 5px;
}
header {
    background-color: #126868;
    color: #FFFFFF;
    display: block;
}
header div, header nav {
    display: inline-block;
}
header div {
    float: right;
}
input {
    border: 1px solid #000;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}
input:focus {
    border: 1px solid #126868;
}
input[type=submit] {
    background-color: #126868;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 4px;
}
input[type=submit]:active {
    border: 1px solid #126868;
}
input[type=submit]:hover {
    background-color: #FFFFFF;
    color: #126868;
}
main {
    min-width: 400px;
}
main#homepage {
    display: block;
    margin: auto;
    width: 80%;
}
main#new-project {
    display: block;
    margin: auto;
    width: 60%;
}
main#project-view div {
    border: 1px solid #126868;
    border-radius: 4px;
    display: block;
    grid-column: 2;
    margin: auto;
    padding: 4px;
    overflow: stretch;
    width: 50%;
}
main#project-view div#project-pm-settings, main#project-view div#project-report {
    display: None;
}
main#user-dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
main#user-dashboard div.new-project, main#user-dashboard div.new-tm {
    text-align: center;
    transition: 0.4s;
}
main#user-dashboard div.new-project:hover, main#user-dashboard div.new-tm:hover {
    color: #126868;
}
main#user-dashboard div.user-project, main#user-dashboard div.user-tm {
    border: 1px solid #126868;
    border-radius: 4px;
    display: block;
    margin: 4px;
    padding: 4px;
}
nav#project-view {
    color: #126868;
    display: block;
    text-align: center;
}
nav#project-view button:hover, nav#project-view button.selected {
    background-color: #126868;
    color: #FFFFFF;
}
p {
    color: inherit;
    display: block;
    font-size: 16px;
    padding: 4px;
}
p#version-number {
    text-align: right;
}
select {
    border: 1px solid #126868;
    margin: 4px;
    padding: 4px;
    width: 200px;
}
table#assigned td {
    text-align: center;
}
table#assignment-form td {
    text-align: left;
}
table#assignment-form th {
    text-align: right;
}
table {
    border-collapse: collapse;
    display: table;
    padding: 4px;
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
}
table.form td, table#shortcuts td {
    text-align: left;
    word-break: keep-all;
}
table.form th, table#shortcuts th {
    text-align: right;
    word-break: keep-all;
}
table.form th.form-title, table#shortcuts th.title {
    text-align: left;
}
tbody {
    display: table;
    width: 100%;
}
td {
    text-align: right;
}
td.error {
    color: #D8000C;
    background-color: #FFBABA;
}
td, th {
    display: table-cell;
    padding: 4px;
    vertical-align: middle;
}
th {
    font-weight: 600;
    text-align: center;
}
tr {
    display: table-row;
}
ul {
    list-style-type: disc;
}
ul li {
    list-style-position: inside;
    display:list-item;
    padding-left: 5px;
}
@media only screen and (max-width: 600px) {
    main#project-view div {
      width: 90%;
    }
}
